# List of file and directory patterns to be ignored by version control systems (VCS)
# such as Git or Mercurial. These patterns exclude files generated at runtime,
# by build tools, as well as user-specific files and directories.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]d
*$py.class

# C extensions
*.so

# Distribution / packaging
.idea/
.Python/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.installed.cfg
*.egg-info/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
